/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .row {
    flex-flow: column wrap;
    width: 90%;
    margin: 0 5%;
  }

  .center {
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);
    /* padding-left: 20px; */
  }

  h1 {
    font-size: 2rem;
    line-height: 0.5;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  header {
    margin-bottom: 20px;
  }

  header h1 {
    width: auto;
  }

  header h3 {
    font-size: 1rem;
  }

  .container.left {
    width: 100%;
  }

  .left img {
    width: 120px;
  }

  .container.left {
    text-align: left;
  }

  .right {
    width: 100%;
  }

  #progressbar {
    transform: rotate(0deg);
  }

  .content .left {
    width: 25%;
    padding-right: 10px;
  }
}

@media print {

  body {
    color: black;
    background: none;
  }

  h3 {
    background: #B0B0B0;
    color: inherit;
  }

  section {
    border-left: 10px solid grey;

  }

  #progressbar {
    background-color: grey;
  }

  .row {
    width: 96%;
    margin: 0 2%;
  }

  .left img {
    width: 200px;
  }

.hobbies ul li h5 {
  margin-left: 10px;
}

}
